
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title{
    color: #FFFFFF;
    text-align: center;
    background-color: rgb(40, 82, 32);
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FADEBC;
    font-size: 24px;
}